<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume|{% block title %} {% endblock title %} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="border-right: 1px solid white; padding-bottom: 7px;">
                <div class="text-center mt-5">
                    <img src="{% static 'images/pic2.jpg' %}" class="rounded-circle w-75" alt="profile image">
                </div>
                <h3 class="text-center border-bottom  mb-5 py-3 text-white" style="font-family: 'Dancing Script', cursive; color: silver;" >Gourav Singh</h3>
                <div class="text-center">
                    <ul style="list-style  none;" class="p-0">
                        <li class="m-3 {{home}} text-white btn btn-outline-warning d-block"> <a class="text-white p-2" style="text-decoration: none;" href="{% url 'home' %}">Home</a></li>
                        <li class="m-3 {{service}} text-white btn btn-outline-warning d-block"> <a class="text-white p-2" style="text-decoration: none;" href="{% url 'service' %}">Service</a></li>
                        <li class="m-3 {{skill}} text-white btn btn-outline-warning d-block"> <a class="text-white p-2" style="text-decoration: none;" href="{% url 'skill' %}">Skill</a></li>
                        <li class="m-3 {{projects}} text-white btn btn-outline-warning d-block"> <a class="text-white p-2" style="text-decoration: none;" href="{% url 'projects' %}">Projects</a></li>
                        <li class="m-3 {{qualification}} text-white btn btn-outline-warning d-block"> <a class="text-white p-2" style="text-decoration: none;" href="{% url 'qualification' %}">Qualification</a></li>
                        <li class="m-3 text-white btn btn-outline-warning d-block" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Contact</li>
                        <!-- <li class="p-2 text-white"> <a class="text-white" href="#">Home</a></li> -->
                    </ul>
                </div>
            </div>

            <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade text-white" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-secondary">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><b>Contact Us</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputname" class="form-label">Name</label>
                    <input type="text" class="form-control" placeholder="" aria-label="Name">
                  </div>
                  <div class="col-md-6">
                    <label for="inputorganisation" class="form-label">Company Name</label>
                    <input type="text" class="form-control" placeholder="" aria-label="Last name">
                  </div>
                <div class="col-12">
                  <label for="inputEmail4" class="form-label">Email</label>
                  <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="col-12">
                  <label for="inputAddress2" class="form-label">Address 2</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-4">
                  <label for="inputState" class="form-label">State</label>
                  <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="inputZip" class="form-label">Zip</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Check me out
                    </label>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-outline-warning">Submmit</button>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-warning">Submit</button> -->
        </div>
      </div>
    </div>
  </div>
            

            {% block content %}
            {% endblock content %}
          
        </div>
    </div>

    
    <script src="{% static 'js/js.js' %}"></script>
    <script src="https://kit.fontawesome.com/55524e0bb6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>