{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}




{% block content %}
    <div class="col-md-10 text-center text-white">
        <div class="text-center my-5">
            <img src="{% static 'images/pic.jpg' %}" class="img-thumbnail w-25" alt="profile image">
        </div>
        <div class="d-flex justify-content-start" style="margin-left: 15%;">
            <h2 style="font-family: 'Dancing Script', cursive;">Hello,</h2>
        </div>
        <div class="d-flex justify-content-center">
            <p class="w-75"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; I am a graduated student in the Department of Software Development from the Guru Gobind Singh Indraprastha University of Delhi , india. I have a Bachelor of Vocational degree and Currently i'm pursuin MCA in Machine Learning at Amity University Noida .
Previously, I worked at Namrata Universal, Noida as a Full Stack Developer,
where I worked on delivering Web Development projects in backend technologies with team Developers inside the company who utilized them to build various products for our customers. 
Aside from work, I am also an open-source enthusiast and have created projects that were listed in GitHub
My interests lie in solving problems related to large-scale distributed software systems.</p>
            </div>
            <a class="btn btn-outline-success my-3 mx-2" href="tel: +91 7042865800" >Call</a>
            <a class="btn btn-outline-danger my-3 mx-2" href="mailto:gourav.singh9871@gmail.com" >Mail</a>
            {% comment %} <a class="btn btn-outline-danger my-3 mx-2" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" >Contact</a> {% endcomment %}
    </div>
{% endblock content %}

