{% extends 'base.html' %}
{% load static %}

{% block title %} Projects {% endblock title %}

{% block content %}
<div class="col-md-10 text-white my-auto">
    <div class="pb-5">
        <h1 class="text-warning"> <b>Completed Projects</b></h1>
        <hr>
    </div>
    <div class="row mt-5 mb-5 text-dark text-center d-flex justify-content-around">
        <div class="col-md-3 border ">
            <div class="">
                <img src="#" alt="">
                <div class="content">
                    <a href="https://bhartieyefoundation.in" target="_blank"><h3> <u>Bharti eye foundation</u></h3></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 border "> 
            <div class="">
                <img src="#" alt="">
                <div class="content">
                   <a href="https://jingleholidaybazar.com" target="_blank"><h3> <u>Jingle Boliday Bazar</u></h3></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 border ">
            <div class="">
                <img src="#" alt="">
                <div class="content">
                   <a href="https://sastideals.herokuapp.com" target="_blank"><h3> <u>Sasti-Deal Ecommerce Website</u></h3></a>.
                </div>
            </div>
        </div>
        <!-- <div class="col-md-3 border"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur eveniet vitae cupiditate tenetur consequuntur hic nam autem aperiam asperiores.</p> </div> -->
    </div>
        <div class="row mt-5 mb-5 text-dark text-center d-flex justify-content-around">
        <div class="col-md-3 border ">
            <div class="">
                <img src="#" alt="">
                <div class="content">
                   <a href="https://ytdownload-pc-version.herokuapp.com" target="_blank"><h3> <u>Youtube video downloader Pc version</u></h3></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 border "> 
            <div class="">
                <img src="#" alt="">
                <div class="content">
                    <a href="http://andhitech2.namratauniversal.com" target="_blank"><h3> <u>Andhitech</u></h3></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 border ">
            <div class="">
                <img src="#" alt="">
                <div class="content">
                    <a href="https://namratauniversal.com" target="_blank"><h3> <u>Namrata Universal</u></h3></a>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
