{% extends 'base.html' %}
{% load static %}

{% block title %} Projects {% endblock title %}

{% block content %}
<div class="col-md-10 text-white my-auto">
    <div class="pb-5">
        <h1 class="text-warning"> <b>Completed Projects</b></h1>
        <hr>
    </div>
    <div class="row mt-5 mb-5 text-dark text-center d-flex justify-content-around">
        <div class="col-md-3 border ">
            <div class="card">
                <img src="#" alt="">
                <div class="content">
                    <a href="https://bhartieyefoundation.in"><h3> <u>Bharti eye foundation</h3></u></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 border "> 
            <div class="card">
                <img src="#" alt="">
                <div class="content">
                   <a href="https://jingleholidaybazar.com/"><h3> <u>Jingle Boliday Bazar</h3></u></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 border ">
            <div class="card">
                <img src="#" alt="">
                <div class="content">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum voluptatum fugit numquam officiis
                    facilis, rem ullam at, dolore praesentium distinctio, sit debitis porro est id in? Molestiae modi
                    odio praesentium.
                </div>
            </div>
        </div>
        <!-- <div class="col-md-3 border"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur eveniet vitae cupiditate tenetur consequuntur hic nam autem aperiam asperiores.</p> </div> -->
    </div>

    {% endblock content %}
