{% extends 'base.html' %}
{% load static %}

{% block title %} Qualification {% endblock title %}

{% block content %}
<div class="col-md-10 text-white mt-5">
 <div class="row mt-5 mb-5 text-center d-flex justify-content-around">
    <div class="col-md-5 border "> 
        <h3>BVOC(Software Development)</h3>
        <p>Software development refers to a set of computer science activities dedicated to the process of creating, designing, deploying and supporting software. Software itself is the set of instructions or programs that tell a computer what to do. It is independent of hardware and makes computers programmable.
        </p> 
        <h3>Guru gobind Singh Indraprasth University, Delhi</h3>
     
    </div>
    <div class="col-md-5 border "> 
        <h3>MCA(machine learning)</h3>
        <p>Machine learning (ML) is a type of artificial intelligence (AI) that allows software applications to become more accurate at predicting outcomes without being explicitly programmed to do so. Machine learning algorithms use historical data as input to predict new output values</p>
        <h3>Amity University, Noida</h3> 
     
    </div>
</div>
 </div>
{% endblock content %}
