{% extends 'base.html' %}
{% load static %}

{% block title %} Services {% endblock title %}

{% block content %}

<div class="col-md-10 text-white mt-5">
    <div>
        <h1 class="text-warning"> <b>SERVICES</b></h1>
        <hr>
    </div>
    <div class="row mt-5 mb-5 text-center d-flex justify-content-around">
        <div class="col-md-3 border "><i class="fa-brands fa-searchengin fa-2x p-2"></i> 
            <h3>SEO</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur eveniet vitae cupiditate tenetur consequuntur hic nam autem aperiam asperiores.</p> </div>
        <div class="col-md-3 border ">  <i class="fa-solid fa-palette fa-2x p-2"></i>
            <h3>Web Design</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur eveniet vitae cupiditate tenetur consequuntur hic nam autem aperiam asperiores.</p> </div>
        <div class="col-md-3 border "> 
            <i class="fa-solid fa-code fa-2x p-2"></i>
        <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur eveniet vitae cupiditate tenetur consequuntur hic nam autem aperiam asperiores.</p> </div>
        <!-- <div class="col-md-3 border"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur eveniet vitae cupiditate tenetur consequuntur hic nam autem aperiam asperiores.</p> </div> -->
    </div>
    <div class="row my-5 text-center d-flex justify-content-around">
        <div class="col-md-3 border "> 
            <i class="fa-solid fa-rectangle-ad p-2 fa-2x"></i>
            <h3>Advertisement</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur eveniet vitae cupiditate tenetur consequuntur hic nam autem aperiam asperiores.</p> </div>
        <div class="col-md-3 border ">
            <i class="fa-solid fa-pencil p-2 fa-2x"></i>
            <h3>Logo Design</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur eveniet vitae cupiditate tenetur consequuntur hic nam autem aperiam asperiores.</p> </div>
        <div class="col-md-3 border "> 
            <i class="fa-solid fa-earth-asia fa-2x p-2"></i>
            <h3>Hosting</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur eveniet vitae cupiditate tenetur consequuntur hic nam autem aperiam asperiores.</p> </div>
        <!-- <div class="col-md-3 border"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur eveniet vitae cupiditate tenetur consequuntur hic nam autem aperiam asperiores.</p> </div> -->
    </div>
    <div class="row my-5 text-center d-flex justify-content-around">
        <div class="col-md-3 border ">
            <i class="fa-solid fa-headset fa-2x p-2"></i>
            <h3>Support</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur eveniet vitae cupiditate tenetur consequuntur hic nam autem aperiam asperiores.</p> </div>
        <div class="col-md-3 border "> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur eveniet vitae cupiditate tenetur consequuntur hic nam autem aperiam asperiores.</p> </div>
        <div class="col-md-3 border "> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur eveniet vitae cupiditate tenetur consequuntur hic nam autem aperiam asperiores.</p> </div>
        <!-- <div class="col-md-3 border"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur eveniet vitae cupiditate tenetur consequuntur hic nam autem aperiam asperiores.</p> </div> -->
    </div>
</div>


{% endblock content %}